.block-board {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    background-color: #34495e;
    color: rgba(40, 43, 92, 0.8);
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(10, 1fr);
}

.block-full, .block-empty {
    border: 3pt solid #2c3e50;
    border-radius: 1pt;
    font-family: Helvetica;
    font-size: 13pt;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block-empty {
    background-color: white;
}