h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #625aac;
}

.left-section {
    width: 75%;
    height: 100%;
    border-right: 1px solid;
    float: left;
}

.right-section {
    width: 20%;
    height: 100%;
    float: right;
}
