h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #625aac;
}

.left-section {
    width: 60%;
    height: 800px;
    border-right: 1px solid;
    float: left;
}

.right-section {
    width: 38%;
    height: 800px;
    float: right;
    border: 50px;
}

.raw-instructions-display{
    height: 30%;
    overflow: auto;
}

.file-information-table{
    height: 40%;
    overflow: auto;
}

.execution-message{
    height: 30%;
    overflow: auto;
}

.reading-text{
    color: white;
}

.writing-text{
    color: red;
}