h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #625aac;
}

h3{
    font-size: 14pt;
    line-height: 14pt;
    margin: 10px;
}

.left-section {
    width: 60%;
    height: 750px;
    border-right: 1px solid;
    float: left;
    overflow: auto;
}

.right-section {
    width: 38%;
    height: 750px;
    float: right;
    border: 50px;
    overflow: auto;
}

.raw-instructions-display{
    height: 25%;
    overflow: auto;
    border: 0px;
}

.file-information-table{
    height: 20%;
    overflow: auto;
    border: 0px;
}

.execution-message{
    height: 35%;
    overflow: auto;
    border: 0px;
}

.reading-text{
    color: white;
}

.writing-text{
    color: gainsboro;
}